@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Guides:wght@400..700&family=Lora:ital,wght@0,400..700;1,400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playwrite+DE+Grund:wght@100..400&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  font-family: "Lora", sans-serif;
  /* font-family: "Playwrite Deutschland Grundschrift", sans-serif; */
  height: 100%;
  background: linear-gradient(to top, #ffffff, rgb(230, 241, 239), #c7dbde, rgb(177, 206, 197), #a7b59d);
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: #fff;
}

/* NAVBAR */

.underlineText::after{
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #728167;
  transform-origin: bottom right;
  transition: transform 0.5s ease-out;
}

.underlineText:hover::after{
  transform: scaleX(1);
  transform-origin: bottom left;
}

.contactColor{
  transition: background-color 0.5s ease;
}

.contactColor:hover{
  background-color: #728167;
  transform: translateY(-2px);
}

/* HERO SECTION */

.heroTitle{
  background: -webkit-linear-gradient(#72816767, #728167);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* FEATURE */

.formDiv:hover .bgIcons{
  background-color: #728167; /* Cambia il background solo dell'icona */
  transform: translateY(-2px);
}

.bgIcons {
  transition: background-color 0.5s ease, color 0.5s ease;
}