@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Guides:wght@400..700&family=Lora:ital,wght@0,400..700;1,400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playwrite+DE+Grund:wght@100..400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

@font-face {
  font-family: myFont;
  src: url("./assets/Careny.ttf");
  font-weight: normal;
  font-style: normal;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  
  /* font-family: myFont, sans-serif; */
  font-family: "Josefin Sans", "sans-serif";
  font-size: 1.1rem;  
  
  /* font-family: "Lora", sans-serif; */
  /* font-family: "Playwrite Deutschland Grundschrift", sans-serif; */
  height: 100%;
  background: linear-gradient(to top, #ffffff, rgb(230, 241, 239), #c7dbde, rgb(177, 206, 197), #a7b59d);
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: #fff;
}

/* NAVBAR */

.navColor{
  background-color: rgb(167, 181, 157);
}

.navTranslate{
  transform: translate(120%, 8%); 
}

.underlineText {
  position: relative; /* Assicurati che l'elemento padre abbia un posizionamento relativo */
}

.underlineText::after {
  content: '';
  position: absolute;
  width: 100%; /* Imposta la larghezza desiderata, ad esempio 80% */
  height: 2px;
  bottom: 0; 
  left: 1%; /* Posiziona l'underlined al centro dell'elemento */
  background-color: #728167;
  transform-origin: center;
  transform: scaleX(0); /* Inizialmente invisibile */
  transition: transform 0.5s ease-out;
}

.underlineText:hover::after {
  transform: scaleX(1); /* Rendi l'underlined completamente visibile al passaggio del mouse */
}

.contactColor{
  transition: background-color 0.5s ease;
}

.contactColor:hover{
  background-color: #728167;
  transform: translateY(-2px);
}

.blurNavbar{
  backdrop-filter: blur(20px);
}

.blurNavbar:focus-within{
  backdrop-filter: none;
}

/* HERO SECTION */

.heroTitle{
  background: -webkit-linear-gradient(#72816767, #728167);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* FEATURE */

.formDiv:hover .bgIcons{
  background-color: #728167; /* Cambia il background solo dell'icona */
  transform: translateY(-2px);
}

.bgIcons {
  transition: background-color 0.5s ease, color 0.5s ease;
}